<mat-toolbar color="primary">
  <a mat-button routerLink="/">
    <mat-icon mat-list-icon>local_movies</mat-icon>
    FlixList
  </a>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/login" routerLinkActive="mat-accent"
            >Login</a
        >
    </li>
    <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/signup" routerLinkActive="mat-accent"
            >Signup</a
        >
    </li>
    <li *ngIf="userIsAuthenticated">
        <button mat-button (click)="onLogout()">Logout</button>
    </li>

    <li *ngIf="userIsAuthenticated">
        <button mat-button (click)="viewProfile()">My Movies</button>
    </li>
  </ul>
</mat-toolbar>
