<h4>Top Movies by Genre</h4>
<mat-form-field>
  <mat-label>Genre</mat-label>
  <mat-select>
    <mat-option *ngFor="let genre of genres" [value]="genre" (click)="navigateToGenre(genre)">
      {{genre}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-nav-list>
  <div mat-subheader>Top 10 Movies</div>
  <mat-list-item *ngFor="let movie of topTen" (click)="navigateTo(movie.movieId)">
      <mat-icon mat-list-icon>movie</mat-icon>
      <span>{{movie.title}}</span>
  </mat-list-item>
</mat-nav-list>
